/* Inizializzazione pagina css */ 
@import url('https://fonts.googleapis.com/css?family=Roboto');

/* Inizializzazione pagina css */ 
* {
    font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	border: 0;
}

/* Inizializzazione pagina css */ 
html, body, .wrapper {
    width: 100%;
    height: 100%;
}

/* Fasce bianche laterali */
.wrapper {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/*-----------------------------------------------------------------*/
/* COLONNA SINISTRA */ 
.container-user {
    float: left;
    width: 300px;
    height: 100%;
	position: relative;
}

/*-----------------------------------*/
/* Profilo personale */
.profile {
    border: 1px solid #e1eaea;
    height: 70px;
    background: #127CC0;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

/* Immagine del profilo e contatto (img-profile), Immagine del contatto (img-contact) */
.img-profile, .img-contact {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 25px;
    vertical-align: middle;
}
/* Fine profilo personale */
/*-----------------------------------*/

/*-----------------------------------*/
/* Contenitore esterno barra di ricerca */
.search {
    border: 1px solid #e1eaea;
    height: 40px;
    background-color: #59a3d2;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 70px;
}

/* Contenitore interno barra di ricerca */
.search-container {
    width: 100%;
    padding-right: 75px;
    box-sizing: border-box;
}

/* Immagine barra di ricerca */
.img-search {
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 10px;
    position: absolute;
}

/* Barra di ricerca */
.search-text {
    border-radius: 20px;
    width: 100%;
    height: 20px;
    margin: 10px 0;
    margin-left: 40px;
    outline: 0;
    padding: 0 10px;
}
/* Fine barra di ricerca */
/*-----------------------------------*/

/*-----------------------------------*/
/* Rubrica dei contatti */
.contacts-container {
    position: absolute;
    bottom: 32px;
    left: 0;
    right: 0;
    top: 110px;
    display: inline-block;
}

.contacts {
    border: 1px solid #e1eaea;
	height: 100%;
	background: #127CC0;
	overflow-y: scroll;
    padding: 15px;
}

/* Singolo contatto di rubrica */
.contact {
    width: 100%;
    margin-top: 5px;
    background: rgba(255,255,255);
	border-radius: 15px;
	margin-right: 5px;
}
/* Fine rubrica */
/*-----------------------------------*/

/* Fine colonna sinistra */
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/* COLONNA DESTRA */
.container-chat {
    overflow: hidden;
    height: 100%;
    position: relative;
}

/*-----------------------------------*/
/* Profilo del contatto della chat */
.person {
    border: 1px solid #e1eaea;
    height: 70px;
    background: #59a3d2;
}
/* Fine profilo contatto */
/*-----------------------------------*/

/*-----------------------------------*/
/* Chat */ 
.chat {
    border: 1px solid #e1eaea;
    background: #f2f2f2;
    overflow-y: scroll;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    top: 70px;
    padding-top: 15px;
    padding-bottom: 20px;
    display: inline-block;
}

/* Messaggio generico */
.message {
    width: 100%;    
}

.message:after {
    display: table;
    content: "";
    clear: both;
}

/* Messagio inviato (sender) e ricevuto (receiver) */
.sender, .receiver {
    border-radius: 10px;
    padding: 5px;
    margin: 2px 20px;
    padding: 0.5em 1em;
    max-width: 50%;
}

/* Messaggio inviato */
.sender {
    border-top-right-radius: 0;  
    float: right;
    background-color: #c4deef;
    box-shadow: 1px 2px 4px #127CC0;
}

/* Messaggio ricevuto */
.receiver {
    border-top-left-radius: 0;
    float: left;
    background: rgb(255,255,255);
    box-shadow: -1px 2px 4px #127CC0;
}
/* Fine chat */
/*-----------------------------------*/

/*-----------------------------------*/
/* Contenitore esterno per inserimento messaggio */
.send {
    background: #59a3d2;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
}

/* Contenitore interno per inserimento messaggio */
.text-message-container {
    border: 1px solid #e1eaea;
    width: 100%;
    padding-right: 100px;
    box-sizing: border-box;
}

/* Inserimento messaggio */
.text-message {
    border-radius: 20px;
    width: 100%;
    padding: 0px 15px;
    height: 40px;
    margin: 10px;
    outline: 0;
}

/* Contenitore per bottone di invio messaggio */
.send-message {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background: #127CC0;
    outline: 0;
    border-radius: 20px;
    float: right;
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}

.send-message:hover{
    background-color: #0c639b;
}

/* Immagine di invio messaggio */
.img-send {
    width: 80%;
    height: 80%;
    display: block;
    margin: 0px auto;
    padding-right: 3px;
    padding-top: 4px;
    text-align:center;
}
/* Fine inserimento */
/*-----------------------------------*/

/* Fine colonna destra */
/*-----------------------------------------------------------------*/


/*-----------------------------------------------------------------*/
/* Altro */

/* Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


/*-----------------------------------------------------------------*/
/* Media Screen */
@media screen and (max-width: 640px) {
    .container-user {
        width: 150px;
    }

    .img-contact{
        height: 30px;
        width: 30px;
    }
}